header {

    background-color: #BC4749;
    color:#F2E8CF;
    margin: 0px auto;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main {

    background-color: #6a994e;
    color: #F2E8CF;
    margin: 0px auto;
    flex-direction: column;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  
                
body {         
            
background-color: #6a994e;
            
}
